:root {
  --microtip-transition-duration: 0.1s;
  --microtip-font-size: 12px;
  --color-black: #101010;
  --color-white: #e8e8e8;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
  background-color: var(--color-white);
  color: var(--color-black);
}

/* Control the right side */
.right {
  right: 0;
  background-color: var(--color-black);
  color: var(--color-white);
}

.centred {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.centred img {
  width: 120px;
  aspect-ratio: 1/1;
}

.title {
  margin-bottom: 0;
}

.subtitle {
  margin-top: 0;
}

.links {
  list-style-type: none;
  padding: 0;
}

.links li {
  display: inline-block;
  padding: 4px;
}

.links img {
  width: 32px;
  aspect-ratio: 1/1;
}

.right .links img {
  filter: invert(1);
}
